
@{
    ViewBag.Title = "QR Code RSA";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

<h2> QR Code RSA</h2>

<textarea placeholder="Nhập thông tin cần mã hóa và tạo QR" class="form-control" rows="10" id="SI"></textarea>
<button class="btn btn-success" style="margin-top:15px"  onclick="TaoQR();">Tạo QR Code</button>


<script>
    function TaoQR() {
        var data = $("#SI").val();
        var fd = new FormData();
        fd.append("data", data);
        $.ajax({
            url: "/QRCode/TaoQR",
            data: fd,
            processData: false,
            contentType: false,
            type: "POST",
            success: function (data) {
                base64toImage(data.Content, data.FileName);
            },
            error: function () {
                toastr.error(translate("loi_xay_ra"));
                window.location.reload();
            }
        });
    }
</script>