
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

<h2> QR Code RSA</h2>

<textarea placeholder="Nhập thông tin cần mã hóa và tạo QR" class="form-control" rows="10"></textarea>
<button class="btn btn-success" style="margin-top:15px" >Tạo QR Code</button>