

<nav class="navbar navbar-dark bg-primary navbar-expand-md" style="        margin-bottom: 20px">
    <a class="navbar-brand" href="#" style='cursor: default;'>QR Code</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            @{
                <li class="nav-item">
                    <a class="nav-link" href="/RSA"><b>Tạo RSA Key</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/TaoMa"><b>Tạo QR Image</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><b>Quét Mã</b></a>
                </li>
            }

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    @{

                        if (Session["User"] != null)
                        {
                            @Html.Raw(Session["User"].ToString().Trim()); 
                        }
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/ThongTinCaNhan">Thông tin cá nhân</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ThongTinCaNhan/DoiMatKhau">Đổi mật khẩu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Login/LogOut">Đăng xuất</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $(document).ready(function () {
        $('li.active').removeClass('active');
        if (location.pathname === "") {
            $('a[href="/"]').closest('li').addClass('active');
        } else {
            $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
        }

        var columnCount = $(".columns a").length;
        if (columnCount <= 6) {
            $(".columns").addClass("one-col");
        } else if (columnCount > 6) {
            $(".columns").addClass("dropdown-multicol2");
        }
    });
</script>
